@import url('https://fonts.googleapis.com/css?family=Bitter|Raleway');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
}
html,body{
    background-color: #d4d4d4;
}
h1{
    font-family: Bitter, "Times New Roman", Times, serif;
    font-size: 3.998rem;
    padding:1rem 2rem;
}
h2{
    font-family: Bitter, "Times New Roman", Times, serif;
    font-size: 2.827rem;
    padding:1rem 2rem;
}
nav ul{
    padding:1rem 0;
    font-family: Bitter, "Times New Roman", Times, serif;
}
nav li{
    font-size: 1.999rem;
    list-style-type: none;
}
nav li>a{
    display: block;
    text-decoration: none;
    border-bottom: 0.2rem solid black;
    padding: 0.2rem 2rem;
    color: #999;
}
nav li>a:hover,
nav li>a:active{
    color: #222;
}
p{
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 1.414rem;
    padding:0.5rem 2rem;
}
main p:last-child{
    padding-bottom: 4rem;
}
.wrapper{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #e4e4e4;
}
header{
    width:100%;
    border-bottom: 1rem solid black;
}
nav{
    float:left;
    width: 38.2%;
}
main{
    float:right;
    width: 61.8%;
}
footer{
    clear:both;
    width: 100%;
    border-top: 0.5rem solid black;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}
footer p{
    font-size: 1rem;
    padding: 2rem;
    color: #666;
}